.container {
  display: grid;
  grid-template-columns: 1fr 0.85fr;
  height: 100vh;
}
.logo {
  background-image: url(../../assets/bg.jpg);
  background-size: cover;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
}

.header {
  font-size: 45px;
  letter-spacing: 2px;
}

.forget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.forgetText {
  text-decoration: underline;
  cursor: pointer;
  color: #c3c5e8;
  transition: 0.7s;
}

.forgetText:hover {
  color: #3a3d7a;
  transform: translateY(5px);
}
.underline {
  width: 80%;
  height: 3px;
  background-color: #3a3d7a;
}
